<section id="section_job_form">
	<div class="container">
		<div class="rwo">
			<div class="col-12">
				
				<%= form_for @job do |f| %>
					<div class="form-row">
						<div class="col-6">
							<div class="form-group">
								<div class="custom-file">
									<%= f.file_field :image, class: "custom-file-input" %>
									<%= f.label :image, "Image", class: "custom-file-label" %>
								</div>
							</div>
							<div class="form-group">
								<%= f.label :company, "公司名稱：" %>
								<%= f.text_field :company, placeholder: "請輸入公司名稱", class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :address, "地址：" %>
								<%= f.text_field :address, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :people, "團隊人數：" %>
								<%= f.text_field :people, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :description, "描述：" %>
								<%= f.text_area :description,rows: "8", class: "form-control" %>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :title, "職位名稱：" %>
								<%= f.text_field :title, placeholder: "請輸入職位名稱", class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :url, "相關連結：" %>
								<%= f.text_field :url, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :work_location, "工作地點：" %>
								<%= f.text_field :work_location, class: "form-control" %>
							</div>
							<h5>Skills：</h5>
							<div id="skills">
								<%= f.fields_for :skills do |skill| %>
									<%= render "skill_fields", f: skill %>
								<% end %>
								<div class="add">
			            <%= link_to_add_association "Add", f, :skills, class: "btn btn-primary btn-sm" %>
			          </div>
							</div>
						</div>
					</div>
					<%= f.submit class: "btn btn-success btn-lg" %>
				<% end %>

			</div>
		</div>
	</div>
</section>