
<% @jobs.each do |job| %>
	<ul>
		<li>
			<%= job.title %>
			<%= job.description %>
			<%= job.company %>
			<%= job.url %>
			<%= job.address %>
			<%= job.people %>
			<%= job.work_location %>
			<%= image_tag job.image %>
			<%= link_to "Show", job_path(job) %>
			<%= link_to "Edit", edit_job_path(job) %>
			<%= link_to "Delete", job_path(job), method: :delete, data: {confirm: "Are you sure?"} %>
		</li>
	</ul>
<% end %>