<h1>Show Page</h1>

<%= @job.title %>
<%= @job.description %>
<%= @job.company %>
<%= @job.url %>
<%= @job.address %>
<%= @job.people %>
<%= @job.work_location %>
<%= @job.image %>

<%= link_to "Back to Index", jobs_path %> 